body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:801px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:669px;
  width:0px;
  height:0px;
}
#u0_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:8px;
  height:18px;
}
#u0_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:24px;
  height:8px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:172px;
  width:438px;
  height:119px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  word-wrap:break-word;
}
